absolute_project_path: D:\codes\360Sim\ # 项目绝对路径
ffmpeg_path: D:\ffmpeg-7.1.1-essentials_build\ffmpeg-7.1.1-essentials_build\bin\ffmpeg # ffmpeg可执行文件路径
group_name: paper # 测试组名
settings:
  video: # 原视频必须是2*3布局的cmp格式
    video_duration: 60 # 视频长度，单位秒，不需要填视频总长度，填需要播放多长即可，这里填的长度需要小于视野角度总长度以及网络带宽总长度
    video_name: /paper/video_9.mp4 # 直播视频名称
    height: 1920 # 视频高度
    width: 2880 # 视频宽度
    tile_width_num: 6 # 横向瓦片个数，需为3的倍数，比如单面分2*2瓦片，则此处为6
    tile_height_num: 4 # 竖向瓦片个数，需为2的倍数，比如单面分2*2瓦片，则此处为4
  motion:
    motion_file: /paper/video_9_u3.txt # 视野角度文件
    motion_frequency: 100 # 视野采样率，需与视野角度文件对应
    range_fov: [ 89, 89 ] # fov，单位是度，[竖向,横向]
  network:
    network_trace_file: /paper/5g_drive.txt # 网络带宽文件
  algorithm:
    bitrate_list: [ 5000,15000 ] # 比特率列表，单位kbps
    abr_strategy: AdaptiveBitrateAgent # abr策略选择，AdaptiveBitrateAgent，MotionPredictionAgent，MotionPredictionEOVAgent，ContentEnsureAgent，BufferChunkAgent，VegasAgent
    motion_history_length: 2000 # abr算法决策时所依据的历史视野角度长度，单位为ms
    bandwidth_history_length: 4000 # abr算法决策时所依据的历史带宽长度，单位为ms